/* HOME */
#btn-home-to-missions{
    color: var(--color-white);
    padding: .4em 1.5em;
    border: 2px solid var(--color-white);
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2em;
    box-shadow: 0 0 10px var(--color-gray);
    transition: background-color 0.3s, color 0.3s;
}
#btn-home-to-missions:hover{
    background-color: var(--color-white);
    color: var(--color-transparent-black); 
}
/* Carucel */
#carucel{
    margin: 0 auto;
    width: 70vw;
    height: 90vh;
    position: relative; 
    display: flex; 
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slide{
    position: absolute;
    top: 0;
    right: -40vw;
    opacity: 0; 
    width: 100%;
    height: 100%; 
}
.slide.active{
    transition: opacity .5s ease-in-out;
    right: 0;
    display: block;
    opacity: 1;
    z-index: 1;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#markers{
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.marker{
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: var(--color-gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.marker.active,
.marker:hover{
    width:1.8em;
    height: .6em;
    border-radius: 25%;
    background-color: var(--color-white);
}
.arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 3em;
    top: 50%;   
    background-color: var(--color-gray); 
    border-radius: 50%;
    cursor: pointer; 
    transition: background-color .3s ease-in-out;
    z-index: 2;
}
.arrow img{
    width: 100%;
    height: 100%;
}
.arrow:hover{
    background-color: var(--color-white);
}
.right-arrow{
    right: 1em;
    transform: translateY(-50%);
}
.left-arrow{
    left: 1em;
    transform: translateY(-50%) rotate(180deg);
}
#card-container-home{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em; 
    width: 80%; 
}
#card-container-home .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-transparent-black);
    border-radius: 5%;
    padding: 2em 1em;
    gap: 1em;
    text-align: left;
}   
#card-container-home .card img{ 
    height: 6em;
    width: 4.5em;  
    padding: .5em;
    border-radius: 50%;
    object-fit: contain;
}
#card-container-home .card h3{
    font-size: 1.3em;
    color: var(--color-white);
    width: 100%; 
    font-family: 'Orbitron', sans-serif;
}
#card-container-home .card p{
    font-size: .9em;
    color: var(--color-light-gray); 
    min-height: 5em;
    font-family: 'Poppins', sans-serif;
}
/* Media querys */
@media (max-width: 768px) { 
    
    #card-container-home{ 
        grid-template-columns: repeat(2, 1fr); 
    }
    #carucel{ 
        width: 95vw;
        height: 90vh; 
    }
}

@media (max-width: 480px) {  
    #card-container-home{ 
        grid-template-columns:  repeat(1, 1fr) 
    } 
}